


doctype html
html
  head
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic', rel='stylesheet')
    link(href='app.min.css', rel='stylesheet', type='text/css')
  body
    #preloader
      img(src="img/default.svg")

    #mobile-div(style='')
    #zoom-in: div +
    #zoom-out: div &ndash;
    #zoom-reset: img(src='img/reset.svg')

    #toggle-open
      img(src='img/menu.svg')
    #panel
      form
        #toggle-close
          img(src='img/close.svg')
        #dinasty
          h3 Династии
          ul#land-switcher
            li.en
              label
                input(type='radio', name='land', value='en')
                |  Великобритания
            li.de
              label
                input(type='radio', name='land', value='de')
                |  Германия
            li.ru
              label
                input(type='radio', name='land', value='ru')
                |  Россия
            li.gr
              label
                input(type='radio', name='land', value='gr')
                |  Дания и Греция
        #description
          h3 Кто кому кем приходится

          #person1

          #person2

          #pair-desc

        button#clear-selection(type='reset') Очистить выбор
      #interes
        h4 Самые интересные связи

  //script(src='app.min.js')
  script(src='app.js')
