*, :before, :after
  box-sizing: border-box

html, body
  padding: 0
  margin: 0

body
  font-family: 'Roboto', sans-serif
  +vr-baseline(14px, 20px)
  overflow: hidden
  //font-family: "Helvetica Neue", Helvetica, sans-serif


#preloader
  position: absolute
  height: 100vh
  width: 100vw
  background: white
  text-align: center
  z-index: 100
  img
    margin: 37vh auto

[id^='toggle-']
  display: inline-block
  //z-index: 100
  &, img
    width: 40px
    height: 40px
  .Desktop &
    display: none
  &[id$='close']
    float: left
    margin: -6px 30px 0 -15px
    position: relative
    z-index: 10
  &[id$='open']
    position: absolute
    top: 20px
    right: 20px



#mobile-div
  width: calc(100vw - 360px)
  .Tablet &, .Mobile &
    width: 100vw
  height: 100vh
  border-right: 1px solid rgba(black, .12)
  overflow: hidden
  display: inline-block
  position: relative

  svg
    & > g:last-child > g:last-child > text:last-child
      fill: red

#title
  position: absolute
  bottom: 85px
  left: 20px
  display: inline-block
  img
    height: 102px

[id^="zoom-"]
  position: absolute
  left: 20px
  bottom: 20px
  display: inline-flex
  justify-content: center
  align-content: center
  width: 50px
  height: 50px
  background: #9B9B9B
  border-radius: 50%
  box-shadow: 0 5px 10px rgba(#9B9B9B, .5)
  cursor: pointer
  div
    align-self: center
    color: white
    +vr-baseline(40px, 40px)
  &[id$='out']
    left: 90px

#share-social
  position: absolute
  left: 200px
  bottom: 20px
  & > div
    display: inline-block
    border: 1px solid #979797
    width: 80px
    height: 40px
    &:not(:first-child)
      border-left: none
  @each $ss in $socnet
    ##{$ss}
      background: white url('/img/#{$ss}.svg') no-repeat center center

#panel
  width: 360px
  height: 100vh
  display: inline-block
  vertical-align: top
  padding: 0
  background-color: #FAFAFA
  overflow-y: scroll
  form
    padding: 20px 30px 30px
    border-bottom: 1px solid rgba(black, .12)
  h3
    font-weight: 400
    margin-top: 0
    +vr-baseline(20px, 28px)
  .Tablet &, .Mobile &
    transition: right 0.3s ease
    box-shadow: 0 0 10px rgba(black, .2)
    position: absolute
    top: 0
    right: -370px
    &.open
      right: 0

#dinasty, #description
  min-height: 300px

#pair-desc
  margin-bottom: 20px

#land-switcher
  list-style-type: none
  padding: 0
  li
    position: relative
    height: 38px
    margin: 10px 0
    background: none
    padding: 8px 0
    cursor: pointer
    &:before, &:after
      cursor: pointer
      position: absolute
      display: block
      content: ''
    &:before
      width: 38px
      height: 38px
      background: white
      border-radius: 50%
      top: 0
      left: 0
      z-index: 1
    &:after
      width: 93px
      height: 8px
      background: #dedede
      border: 2px solid white
      border-left: none
      border-right: none
      top: 15px
      left: 15px
      z-index: 0

    input[type="radio"]
      display: none
    label
      cursor: pointer
      position: relative
      display: block
      +vr-baseline(16px, 24px)
      vertical-align: middle
      margin: 0
      padding-left: 120px
      &:before, &:after
        position: absolute
        display: block
        content: ''
        z-index: 1
      &:before
        width: 34px
        height: 34px
        background: white
        border: 4px solid #dedede
        border-radius: 50%
        top: -6px
        left: 2px
      &:after
        width: 18px
        height: 18px
        background: white
        border-radius: 50%
        top: 2px
        left: 10px

    @each $land, $color in $flags
      &.#{$land}
        &:after
          background-color: #{$color}
        label
          &:before
            border-color: #{$color}
      &.#{$land}.current
        label
          &:after
            background: #{$color}

#clear-selection
  background: none
  border-radius: 19px
  border: 1px solid #4A4A4A
  color: #4A4A4A
  +vr-baseline(18px, 22px)
  font-family: Helvetica
  display: block
  width: 100%
  height: 38px

#description
  display: none
  &.show-link
    position: relative
    &:before
      position: absolute
      display: block
      content: ''
      width: 8px
      height: 38px
      top: 96px
      left: 24px
      background: #dedede
      border: 2px solid white
  #person1, #person2
    clear: both
    display: block
    overflow: hidden
  #person1
    margin: 0 0 22px
  #person2
    margin: 0 0 10px

  p
    margin: 0
    &.name
      +vr-baseline(16px, 34px)
    &.title
      +vr-baseline(10px, 12px)
    &.note
      color: #9B9B9B
      +vr-baseline(14px, 20px)
      margin-bottom: 10px
  .img
    position: relative
    margin-right: 10px
    float: left
    width: 56px
    height: 56px
    img
      width: 40px
      height: 40px
      border-radius: 50%
      z-index: 1
      position: absolute
      top: 8px
      left: 8px
    &:before, &:after
      position: absolute
      display: block
      content: ''
      z-index: 2
      top: 0
      left: 0
    &:before
      width: 56px
      height: 56px
      border: 8px solid white
      border-radius: 50%
    &:after
      width: 52px
      height: 52px
      border: 4px solid #dedede
      border-radius: 50%
      top: 2px
      left: 2px
    @each $land, $color in $flags
      &.#{$land}
        &:after
          border-color: #{$color}

#interes
  h4
    padding: 0 20px
    +vr-baseline(16px, 34px)
    font-weight: normal
    margin: 10px 0 20px

  .pair
    position: relative
    margin-bottom: 20px
    cursor: pointer
  .person
    display: inline-block
    vertical-align: top
    text-align: center
    width: 50%
    &:before
      position: absolute
      display: block
      content: ''
      width: 50%
      height: 8px
      top: 38px
      left: 25%
      background: #dedede
      border: 2px solid white
  p
    margin: 0
    &.name
      +vr-baseline(12px, 14px)
    &.title
      +vr-baseline(10px, 12px)
      color: #4A4A4A
  .img
    position: relative
    margin: 0 auto
    width: 82px
    height: 82px
    img
      width: 66px
      height: 66px
      border-radius: 50%
      z-index: 2
      position: absolute
      top: 8px
      left: 8px
    &:before, &:after
      position: absolute
      display: block
      content: ''
      z-index: 2
      top: 0
      left: 0
    &:before
      width: 82px
      height: 82px
      border: 8px solid white
      border-radius: 50%
      background: white
    &:after
      width: 78px
      height: 78px
      border: 4px solid #dedede
      border-radius: 50%
      top: 2px
      left: 2px
    @each $land, $color in $flags
      &.#{$land}
        &:after
          border-color: #{$color}

#m-lines > g
  display: none

[id^="person-"]
  transition: matrix 1s ease
  &:hover
    cursor: pointer

.person-mini
  image
    display: none

.flag-0
  use:last-child
    stroke: #dedede

#debug
  padding: 10px
  display: none

